@model FMCGWebApp.Models.SellOrder

@{
    ViewBag.Title = "SendSellOrder";
    Layout = "~/Views/Shared/_LayoutSellForce.cshtml";
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="fBody">
                    <h3 style="text-align: center;margin-top: 100px">Stock Out Sell Order</h3>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "sellOrderValidasion", id = "sellOrderValidasion" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowAreaId" class="control-label"></label>
                                    <select name="AreaId" id="AreaId" class="form-control">
                                        <option value="">--Select Area--</option>
                                        @foreach (var area in ViewBag.area)
                                        {
                                            <option value="@area.Id">@area.AreaName</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowShopId" class="control-label"></label>
                                    <select name="ShopId" id="ShopId" class="form-control">
                                        <option value="">--Select Shop--</option>
                                        @foreach (var shop in ViewBag.shop)
                                        {
                                            <option value="@shop.Id">@shop.ShopName</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ShopId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowCategoryId" class="control-label"></label>
                                    <select name="CategoryId" id="CategoryId" class="form-control">
                                        <option value="">--Select Category--</option>
                                        @foreach (var category in ViewBag.category)
                                        {
                                            <option value="@category.Id">@category.CategoryName</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowItemId" class="control-label"></label>
                                    <select name="ItemId" id="ItemId" class="form-control">
                                        <option value="">--Select Item--</option>
                                        @foreach (var item in ViewBag.item)
                                        {
                                            <option value="@item.Id">@item.ItemName</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowQuentity"></label>
                                    <input type="text" id="Quantity" name="Quantity" class="ggg" placeholder="Enter Quantity" />
                                    @*@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Please Enter Quantity" } })*@
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>

                                <div class="col-md-4">
                                    <input type="button" id="btnn" class="btn btn-danger btn-block" value="Add" />
                                </div>
                            </div>

                            <div id="page-wrapper">
                                <table id="showAllOrdered" class="table table-striped table-bordered" style="width: 100%">
                                    <thead style="background-color: darkcyan">
                                        <tr>
                                            <th style="text-align: center; color: white">
                                                @Html.DisplayName("Serial")
                                            </th>
                                            <th style="text-align: center; color: white">
                                                @Html.DisplayName("Area")
                                            </th>
                                            <th style="text-align: center; color: white">
                                                @Html.DisplayName("Shop")
                                            </th>
                                            <th style="text-align: center; color: white">
                                                @Html.DisplayName("Category")
                                            </th>
                                            <th style="text-align: center; color: white">
                                                @Html.DisplayName("Item")
                                            </th>
                                            <th style="text-align: center; color: white;">
                                                @Html.DisplayName("Quantity")
                                            </th>
                                            <th style="text-align: center; color: white">
                                                @Html.DisplayName("Action")
                                            </th>
                                        </tr>
                                    </thead>


                                    <tbody id="sellOrderTableBody">
                                        <tr>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="button" id="btnSave" class="btn btn-success btn-block" value="Send Order" />
                                </div>
                            </div>
                            <h4> @ViewBag.ShowMsg</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var serial = 1;
            $("#btnn").click(function () {
                var areaId = $("#AreaId").val();
                var shopId = $("#ShopId").val();
                var categoryId = $("#CategoryId").val();
                var itemId = $("#ItemId").val();
                var area = $("#AreaId option:selected").text();
                var shop = $("#ShopId option:selected").text();
                var category = $("#CategoryId option:selected").text();
                var item = $("#ItemId option:selected").text();
                var quantity = $("#Quantity").val();
                

                //var serial = 1;
                var row = $("#sellOrderTableBody");
                
                var data = row.find('td').eq(0).html();
                if(data==="0") {
                    $("#showAllOrdered TBODY").empty();
                }
                
                $("#sellOrderTableBody").append("<tr><td style='display:none' >" + areaId + "</td><td>" + serial + "</td><td>" + area + "</td><td style='display:none' >" + shopId + "</td><td>" + shop + "</td><td style='display:none' >" + categoryId + "</td><td>" + category + "</td><td style='display:none' >" + itemId + "</td><td>" + item + "</td><td>" + quantity +
                    "</td><td> <button id='btn' class='btn btn-danger'>Delete</button></td></tr>");
                serial++;
                

                $("#ItemId option:selected").text("");
                $("#Quantity").val("");

            });

            $("#sellOrderTableBody").on('click', '#btn', function () {
                $(this).closest('tr').remove();

                //var customers = new Array();
                //$("#showAllOrdered TBODY TR").each(function () {
                //    var row = $(this);
                //    var customer = {};
                //    customer.AreaId = row.find('td').eq(0).html();
                //    customer.ShopId = row.find('td').eq(1).html();
                //    customer.CategoryId = row.find('td').eq(2).html();
                //    customer.ItemId = row.find('td').eq(3).html();
                //    customer.Quantity = row.find('td').eq(4).html();
                //    customers.push(customer);

                //    $("#sellOrderTableBody").append("<tr><td>" + serial + "</td><td>" + AreaId + "</td><td>" + ShopId + "</td><td>" + CategoryId + "</td><td>" + ItemId + "</td><td>" + Quantity + "</td></tr>");
                //    serial = 1;

                //});

            });

            $("#btnSave").click(function () {
                var row = $("#sellOrderTableBody");

                var data = row.find('td').eq(0).html();
                if (data === "0") {
                    alert("Please Insert Sell Order.");
                    return;
                }
                var customers = new Array();
                $("#showAllOrdered TBODY TR").each(function () {
                    var row = $(this);
                    var customer = {};
                    customer.AreaId = row.find('td').eq(0).html();
                    customer.ShopId = row.find('td').eq(3).html();
                    customer.CategoryId = row.find('td').eq(5).html();
                    customer.ItemId = row.find('td').eq(7).html();
                    customer.Quantity = row.find('td').eq(9).html();
                    customers.push(customer);

                });
                $.ajax({
                    type: "POST",
                    url: "/SellForce/InsertCustomers",
                    data: JSON.stringify(customers),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        alert(r);
                        $("#showAllOrdered TBODY").empty();
                        var table = '<tr><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>';
                        $("#showAllOrdered TBODY").append(table);
                        serial = 1;
                    }
                });
            });


            $("#AreaId").click(function () {
                $("#ShowAreaId").text("Area Name");
            });
            $("#ShopId").click(function () {
                $("#ShowShopId").text("Shop Name");
            });
            $("#CategoryId").click(function () {
                $("#ShowCategoryId").text("Category Name");
            });
            $("#ItemId").click(function () {
                $("#ShowItemId").text("Item Name");
            });
            $("#Quantity").click(function () {
                $("#ShowQuentity").text("Quantity");
            });
        });


        $("#sellOrderValidasion").validate({
            rules: {

                AreaId: "required",
                ShopId: "required",
                CategoryId: "required",
                ItemId: "required",
                Quantity: "required",

            },
            messages: {

                AreaId: "Please Select Area Name",
                ShopId: "Please Select Shop Name",
                CategoryId: "Please Select Category Name",
                ItemId: "Please Select Item Name",
                Quantity: "Please Enter Quantity",

            }
        });
    </script>

}